@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

 * {margin: 0;
   padding: 0;
   border: 0;}

html{
       scroll-behavior: auto;}

body {background-color: #000000a9;
         font-family: "epilogue", sans-serif;
         font-size: 65%;
         position: relative;}

