@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


 * {margin: 0;
   padding: 0;
   border: 0;}

html{
       scroll-behavior: auto;}

body     {background-color: #000000a9;
         font-family: "epilogue", sans-serif;
         font-size: 65%;
         position: relative;}

.nav-link {color: #ffffff;
    font-size: 105%;
    text-decoration: none;
    font-family: "epilogue", sans-serif;
    letter-spacing: 1px;
    margin-left: 30px;
    }

.navbar{height: 100px;}

.navbar-nav {background-color: black;}

.nav-link:hover {color: aqua;}

.navbar-brand
{color: #ffffff;
font-size: 250%;
text-decoration: none;
font-family: "epilogue", sans-serif;
letter-spacing: 1px;
margin-left: 1px;}

 .navbar-brand:hover 
  {color: aqua;}

.navbar-toggler{background-color: #ffffff;
                height: 25px;
                padding-bottom: 15px;
                margin-right: 10px;}

.nav-bg-color {background-color: #000000;}

.container {
  background-color: #000000;
  border-radius: 40px;
  padding: 30px;
  margin-top: 120px;
  margin-bottom: 25px;
  }

  .about-paragraphs {color: white;
  font-family: 'epilogue', sans-serif;
  font-size: 180%;}

   h1 {color: white;
text-align: center;
font-size: 300%;}

h2 {color: white;
text-align: center;
padding: 20px;}

h3
{color: white;
text-align: center;
letter-spacing: 1px;
margin-top: 10px;
font-size: large;}

  .social-networks, li
{display: inline;
font-size: 190%;
padding-right: 12px;
}

.address {color: white;
font-size: 20px;}

.list-group-item {background-color: black;
color: white;
margin-left: 0%;
font-size: large;
text-align: center;
}









  

